.list-hour {
    border: 2px solid var(--light-grey);
    padding: 30px;
    border-radius: 7px;
}

.ul-hours,
.ul-hours h2 {
    color: var(--light-grey);
    font-weight: 300;
}

.ul-opt {
    display: flex;
    flex-direction: column;
}

.ul-opt div label {
    padding: 20px 0;
    /* border-top: 1px solid var(--light-grey); */
    display: flex;
    align-items: center;
}

input[type=radio] {
    border: 10px solid #000;
}

.ul-opt label input[type="radio"] {
    appearance: none;
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid var(--light-grey) !important;
    border-radius: 50%;
    outline: none;
}

input[type="radio"]:checked {
    background: var(--light-grey);
    box-shadow: inset 0px 0px 0px 3px #fff;
}

.hour-refactor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-space {
    margin-right: 10px;
}

.ul-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--light-grey);
}

.list-footer {
    margin-top: 20px;
}

.list-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-grey);
}

.btn {
    height: 50px;
    width: 45%;
    margin-left: 20px;
    font-weight: 700;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    background-color: #fff;
}

.btn:first-child {
    margin:  0;
}

.ul-flex:last-child {
    border-bottom: 1px solid var(--light-grey);
}

#icon-label {
    color: var(--light-grey);
}

#ul-heading {
    margin-bottom: 20px;
}

#btn1 {
    background-color: var(--yellow);
    border: 0;
}

#checkInput {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#seeClosed {
    display: flex;
    align-items: center;
}

#btnSelect {
    display: flex;
    align-items: center;
    justify-content: center;
}